.icon {
    display: inline-block;
    background-size: 24px;
    width: 24px;
    height: 24px;
    opacity: 0.55;
    transition: transform .5s ease;
    transform: rotate(0);
    background-repeat: no-repeat;
}

.name {
    &-arrow_down {
        background-image: url('./icons/arrow_down.svg');    
    }

    &-spinner {
        background-image: url('./icons/spinner.svg');
    }

    &-heart {
        background-image: url('./icons/heart.svg');
        filter: brightness(0);

        &.active {
            filter: none;
        }
    }
}

.active {
    opacity: 1.0;
}