.product {
    display: block;
    width: 100%;
}

.product-description {
    display: flex;
    align-items: flex-start;
    padding: 0 1em 1em 1em;
}

.product-name {
    display: inline-block;
    width: calc(100% - 32px); // minus wishlist icon width.
    padding-right: 16px;
    box-sizing: border-box;
}

.wishlist-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.product-image {
    width: calc(100% - 2px);
    margin-bottom: 1.5em;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    cursor: pointer;

    &:hover {
        border: 1px solid rgba(0, 0, 0, .2);
    }

    & > img {
        width: 100%;
    }
}