.products-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    right: 0;
    padding: 4em 2em;
}

.product {
    margin-right: 4%;
    margin-bottom: 4%;

    &:first-child {
        margin-left: 0;
    }
}