@font-face {
  font-family: 'SF UI Display';
  font-weight: 100;
  src: url('../font/SanFranciscoDisplay-Ultralight.otf') format('opentype');
}

@font-face {
  font-family: 'SF UI Display';
  font-weight: 200;
  src: url('../font/SanFranciscoDisplay-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'SF UI Display';
  font-weight: 300;
  src: url('../font/SanFranciscoDisplay-Light.otf') format('opentype');
}

@font-face {
  font-family: 'SF UI Display';
  font-weight: 400;
  src: url('../font/SanFranciscoDisplay-Regular.otf')  format('opentype');
}

@font-face {
  font-family: 'SF UI Display';
  font-weight: 500;
  src: url('../font/SanFranciscoDisplay-Medium.otf')  format('opentype');
}

@font-face {
  font-family: 'SF UI Display';
  font-weight: 600;
  src: url('../font/SanFranciscoDisplay-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SF UI Display';
  font-weight: 700;
  src: url('../font/SanFranciscoDisplay-Bold.otf')  format('opentype');
}

@font-face {
  font-family: 'SF UI Display';
  font-weight: 900;
  src: url('../font/SanFranciscoDisplay-Heavy.otf')  format('opentype');
}